################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dist
/output
.vs
/src/**/Win32
/src/**/x64